body{
  background-image:url("https://assets.website-files.com/5bfd1275cc56e15ce750b18e/5c289afb9a15752f8f893a27_05.%20Flax.jpg");
  min-width: 650px;
  .header{
    height: 56px;
    width: 100%;
    padding: 0 150px;
   background-color: #2a8a9169;
    color: #fff;
    display: flex;
    justify-content: space-between;
    &__title{
      font-family: cursive;
      font-size: 30px;
      line-height: 56px;
      &--text{
        text-decoration: none;
        color: rgb(58, 26, 170);
      }
    }
    &__right{
      font-family: monospace;
      &--btn{
        text-decoration: none;
        line-height: 56px;
        color: rgb(90, 80, 102);
        margin-left:15px;
      }
    }
  }
  .navbar {
    height: 50px;
    width: 100%;
    background-color:#6405a057;
    text-align: center;
    padding: 15px;
    font-family: fantasy;
  }
  .contents{
    height: 600px;
    width: 80%;
    overflow: scroll;
    .content{
      padding: 10px;
      border-bottom: 1px solid #f6f6f6f6;
      display: flex;
      &__left{
        padding-right: 20px;
        &--image{
          height: 20px;
          width: 20px;
          border: solid 16px;
          background-color: black;
          border-radius: 20px;
        }
      }
      &__right{
        width: calc(100%-100px);
        &__top{
          font-size: 20px;
          font-weight: bold;
          &--title{
            text-decoration: none;
            color: #000000;
          }
        }
        &__bottom{
          font-size: 15px;
          color: #999;
          display: flex;
          &--userName{
            &--btn{
              text-decoration: none;
              color: #999;
            }
          }
          &--date{
            margin-left: 20px;
          }
        }
      }
      &__title{
        font-size: 30px;
        font-weight: bold;
        padding-top: 30px;
        text-align: center;
        font-family: cursive;
      }
    }
    .postTitle{
      padding-top: 20px;
      text-align: center;
      font-size: 25px;
      font-weight: bold;
      font-family: serif;
    }
    .postDate{
      font-size: 15px;
      color: rgba(12, 22, 156, 0.863);
      text-align: center;
    }
    .postAuthor{
      font-size: 15px;
      color: rgb(137, 44, 224);
      text-align: center;
    }
    .postManage{
      display: flex;
      justify-content: center;
      margin-top: 10px;
      &__edit{
        display: block;
        color: #ffffff;
        background-color:#081c8d;
        padding: 0 10px;
        text-decoration: none;
        border-radius: 20px;
        margin-right: 10px;
      }
     
      &__delete{
        display: block;
        border-radius: 5px;
        color: #ffffff;
        background-color:#081c8d;
        padding: 0 10px;
        text-decoration: none;
        border-radius: 20px;
        margin-left: 10px;
      }
    }
    
    .postText{
      margin: 20px 30px;
    }
  }
  .form{
    width: 85%;
    height: 100%;
    margin: 0 auto;
    padding-top: 30px;
    &__title{
      display: block;
      width: 100%;
      height: 50px;
    }
    &__text{
      display: block;
      width: 100%;
      height: 50%;
      margin-top: 15px;
    }
    &__btn{
      display: block;
      width: 30%;
      margin: 15px auto 0;
    }
  }
  .user{
    padding: 15px 30px;
  }
}

  .footer{
    margin-top: 30px;
    background-color: #6405a057;
    height: 60px;
    font-size: 20px;
    text-align: center;
    padding: 20px;
    font-family:cursive;
  }

  .form__submit{
    background-color: rgb(95, 116, 148);
  }

